@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
$strongCyan:hsl(171,
66%,
44%);
$lightBlue:hsl(233,
100%,
69%);
$darkGrayishBlue:hsl(210,
10%,
33%);
$grayishBlue:hsl(201,
11%,
66%);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Bai Jamjuree', sans-serif;
}

.container {
    margin: auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
}

.container2 {
    margin: auto;
    max-width: 800px;
    width: 100%;
    text-align: center;
    padding: 0 15px;
}

h1,
h2 {
    color: $darkGrayishBlue;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 32px;
}

h3 {
    color: $darkGrayishBlue;
    margin-bottom: 10px;
    font-size: 23px;
}

p {
    color: $grayishBlue;
    font-size: 18px;
    line-height: 1.4;
    &.mainParagraph {
        text-align: center;
    }
}

section,
header {
    margin-bottom: 150px;
}


/*=============================================
=            Header            =
=============================================*/

header {
    background-image: url("../images/bg-header-desktop.png");
    background-size: 100%;
    text-align: center;
    background-repeat: no-repeat;
    img {
        padding-bottom: 60px;
        padding-top: 80px;
    }
    h1 {
        margin-bottom: 20px;
        font-size: 40px;
    }
}

.btns {
    user-select: none;
    text-align: center;
    button {
        cursor: pointer;
        transition: .4s;
        color: white;
        padding: 15px 30px;
        display: inline-block;
        margin: 20px;
        font-size: 16px;
        min-width: 200px;
        border-radius: 74px;
        border: 0;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 74px;
            z-index: -1;
            top: 3px;
            left: 0;
        }
        &:first-of-type {
            background-color: $strongCyan;
            &::before {
                background-color: darken($color: $strongCyan, $amount: 20);
            }
            &:hover {
                background-color: lighten($color: $strongCyan, $amount: 20);
            }
        }
        &:last-of-type {
            background-color: $lightBlue;
            &::before {
                background-color: darken($color: $lightBlue, $amount: 20);
            }
            &:hover {
                background-color: lighten($color: $lightBlue, $amount: 20);
            }
        }
    }
}

@media (max-width:768px) {
    header {
        background-image: url("../images/bg-header-mobile.png");
        h1 {
            font-size: 32px;
        }
    }
    .btns {
        margin-top: 15px;
        button {
            margin: 10px !important;
        }
    }
}


/*=====  End of Header  ======*/


/*=============================================
=            Section One            =
=============================================*/

section.one {
    .flex {
        display: flex;
        .articles {
            padding-left: 130px;
            img {
                transform: translateX(-30px);
            }
            article {
                margin: 30px 0;
            }
        }
    }
}

@media (max-width:1140px) {
    section.one {
        .flex {
            display: block;
            text-align: center;
            img {
                display: block;
                margin: 10px auto;
                width: 95%;
                max-width: 700px;
                transform: translateX(0);
            }
            article {
                max-width: 500px;
                margin: 30px auto !important;
            }
            .articles {
                padding: 10px;
            }
        }
    }
}


/*=====  End of Section One  ======*/


/*=============================================
=            Section Two            =
=============================================*/

section.two {
    text-align: center;
    img {
        // width: 95%;
        display: block;
        margin: 100px auto 0;
    }
}

@media (max-width:768px) {
    section.two {
        img {
            margin-top: 50px;
        }
    }
}


/*=====  End of Section Two  ======*/


/*=============================================
=            Section Three            =
=============================================*/

section.three {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 70px;
        article {
            max-width: 350px;
            text-align: center;
            margin: 20px auto;
            // background-color: antiquewhite;
            p {
                font-size: 16px;
            }
            img {
                margin-bottom: 25px;
            }
        }
    }
}


/*=====  End of Section Three  ======*/


/*=============================================
=            Section Four            =
=============================================*/

section.four {
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width:576px) {
    section.four {
        img {
            display: block;
            display: block;
            margin: 20px auto;
            min-width: 200px;
        }
    }
}


/*=====  End of Section Four  ======*/


/*=============================================
=            Footer            =
=============================================*/

footer {
    background-color: #f5f6f8;
    padding: 30px 15px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .uls {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // align-content: space-between;
        flex: 7;
        padding-left: 25px;
        ul {
            li {
                cursor: pointer;
                &:first-of-type {
                    margin-bottom: 20px;
                }
                font-size: 18px;
                &:hover {
                    color: $strongCyan;
                }
            }
        }
    }
    .icons {
        margin: 0 8px;
        text-align: right;
        flex: 4
    }
}

@media (max-width:768px) {
    footer {
        text-align: center;
        .container {
            display: block;
            .uls {
                display: block;
                padding: 0;
                margin: 15px 0;
                ul {
                    margin: 0;
                    li {
                        margin: 15px 0;
                    }
                }
            }
            .icons {
                text-align: center;
                margin-top: 30px;
                img {
                    margin: 0 25px;
                }
            }
        }
    }
}


/*=====  End of Footer  ======*/